Fix URI of security.txt is Canonical: Field

**What's the issue?**
The "Canonical" field indicates the canonical URIs where the `security.txt` file is located.

**How do we solve it?**
Replace "[The file may be present either in the root of the webserver or in the .well-known/ directory. Ex:](https://github.com/OWASP/wstg/blob/master/document/4-Web_Application_Security_Testing/01-Information_Gathering/03-Review_Webserver_Metafiles_for_Information_Leakage.md#security-txt)" with text from [Section 2.5.2. of RFC 9116](https://www.rfc-editor.org/rfc/rfc9116.html#name-canonical)

Would you like to be assigned to this issue?
Check the box if you will submit a PR to fix this issue. Please read CONTRIBUTING.md.
- [X] Assign me, please!


Did you mean [3. Location of the security.txt File](https://www.rfc-editor.org/rfc/rfc9116.html#section-3) of the RFC? From my understanding, the "Canonical" field will appear within the `security.txt` file - so it's not very useful if you're trying to find where the file actually is.

Section 3 states that in can be in the root of the domain, or in the `/.well-known/` - which is the same as what the current WSTG text says. But the RFC wording seems rather more complicated, and I'm not sure it really adds much?

I think the point they were going for is that 2.5.2 states that the file should list in "canonical" fields the locations in which it will actually/validly be found.

@kingthorin but is that really relevant to WSTG-INFO-03? We're using it as a source of information leakage, so are we saying that if the location listed in the "Canonical" field doesn't match the actual URL you found it out then you should ignore any personal information/email addresses/etc in it, and not use them in other attacks? It's still a useful source of information, even if they have it in as subfolder or some other location.

Agreed. In the context of INFO-03 it is just an info source, the guide isn't telling users to trust the data or leverage any of the facilities outlined by security.txt. Just to attempt to mine it for information (valid or not).

Instead of presenting it as "only trust the data if found in a listed canonical location(s)" it could be phrased more as "gather the details you can and if the listed canonical locations are not accurate consider reporting that as a finding itself."