“Testing for cookie attributes” misrepresents domain attribute

**What's the issue?**
See https://owasp.org/www-project-web-security-testing-guide/latest/4-Web_Application_Security_Testing/06-Session_Management_Testing/02-Testing_for_Cookies_Attributes#domain-attribute.

The original text does not describe the proper behaviour when no `domain` attribute is set according to the spec, but it does describe the behaviour of “some legacy user agents” (see the warning in [RFC 6265 § 4.1.2.3](https://httpwg.org/specs/rfc6265.html#rfc.section.4.1.2.3)).

This appears to refer to certain versions of IE and Edge - see Q3 here: https://learn.microsoft.com/en-gb/archive/blogs/ieinternals/internet-explorer-cookie-internals-faq

**How do we solve it?**

Update the text to describe the correct behaviour.

Would you like to be assigned to this issue?
Check the box if you will submit a PR to fix this issue. Please read CONTRIBUTING.md.
- [x] Assign me, please!
