New Test Case - Extract OpenPGP Metadata of Signed security.txt 

**What would you like added?**
Insert what metadata could be extracted from the OpenPGP Public Key used to sign the [security.txt file documented within 03 Review Webserver Metafiles for Information Leakage](https://github.com/OWASP/wstg/blob/master/document/4-Web_Application_Security_Testing/01-Information_Gathering/03-Review_Webserver_Metafiles_for_Information_Leakage.md#security-txt) specified within [Section 2.3. of RFC 9116](https://www.rfc-editor.org/rfc/rfc9116.html#name-digital-signature)

Would you like to be assigned to this issue?
Check the box if you will submit a PR to add the proposed content. Please read CONTRIBUTING.md.
- [X] Assign me, please!
