Remove "/security.txt" URI to Reflect RFC 9116 

Replacement for https://github.com/OWASP/wstg/pull/944#issuecomment-1165189156 and related Issue https://github.com/OWASP/wstg/issues/937 and related Pull Request https://github.com/OWASP/wstg/pull/944

**What's the issue?**
At minimum, the ["... organizations MUST place the "security.txt" file under the "/.well-known/" path ..."](https://www.rfc-editor.org/rfc/rfc9116.html#section-3-1) so I'd encourage at least this small change to align with [Section 3 of RFC 9116](https://www.rfc-editor.org/rfc/rfc9116.html#section-3-1).

**How do we solve it?**
Remove "https://example.com/security.txt' on [line 155 of 03-Review Webserver Metafiles_for Information Leakage"](https://github.com/OWASP/wstg/blame/master/document/4-Web_Application_Security_Testing/01-Information_Gathering/03-Review_Webserver_Metafiles_for_Information_Leakage.md#L155)

Would you like to be assigned to this issue?
- [X] Assign me, please!
